COUCH_DB_USER=
COUCH_DB_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
INTERNAL_API_KEY=
BUDIBASE_ENVIRONMENT=
JWT_SECRET=
REDIS_PASSWORD=
BB_ADMIN_USER_EMAIL=
BB_ADMIN_USER_PASSWORD=
PLUGINS_DIR=
MAIN_PORT=
PUT_CALL=
