SECRET_KEY=
ALLOWED_HOSTS=localhost,api
ALLOWED_CLIENT_HOSTS=localhost
EMAIL_URL=consolemail://
PUBLIC_URL=http://localhost:5000
DASHBOARD_URL=http://localhost:5001
ADMIN_EMAIL=
ADMIN_PASSWORD=
API_URL=http://localhost:5000/graphql/
