RELAY_URL=ws://localhost:5000
MINIO_ROOT_PASSWORD=
BUZZ_MEDIA_BASE_URL=http://localhost:5000/media
BUZZ_CORS_ORIGINS=http://localhost:5000
BUZZ_RELAY_PRIVATE_KEY=
BUZZ_GIT_HOOK_HMAC_SECRET=
RELAY_OWNER_PUBKEY=
BUZZ_REQUIRE_AUTH_TOKEN=false
BUZZ_REQUIRE_RELAY_MEMBERSHIP=false
