SECRET_KEY_BASE=
FRONTEND_URL=http://localhost:5000
REDIS_AUTH=
ENABLE_ACCOUNT_SIGNUP=true
MAILER_SENDER_EMAIL=Chatwoot <support@example.com>
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
