NEXTAUTH_SECRET=
NEXT_PRIVATE_ENCRYPTION_KEY=
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY=
NEXT_PUBLIC_WEBAPP_URL=http://localhost:5000
SIGNING_CERT_B64=
SIGNING_PASSPHRASE=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_NAME=Documenso
