LLM_API_KEY=
LLM_PROVIDER=openai
LLM_MODEL=openai/gpt-4o-mini
LLM_ENDPOINT=
EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=openai/text-embedding-3-large
EMBEDDING_ENDPOINT=
FASTAPI_USERS_JWT_SECRET=
CORS_ALLOWED_ORIGINS=
